<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-white">
        <h4 class="card-title">Create your account</h4>
      </div>
      <div class="card-block">
        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" required name="firstname" class="form-control" placeholder="Your Firstname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input id="surname" type="text" required name="surname" class="form-control" placeholder="Your Surname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password" validatePassword class="form-control" placeholder="Password" ngModel #password="ngModel">
            <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Please enter a valid Password</small>
          </div>
          <div class="form-group">
            <label for="role">Role In Organization</label>
            <select class="form-control form-control-sm" id="role" name="role" ngModel>
              <option selected>Administrator</option>
              <option selected>Engineer</option>
              <option selected>Apprentice</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
