<!-- Registration Modal -->
<div class="modal fade" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)='navigateHome()' data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" required name="firstname" class="form-control" placeholder="Your Firstname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input id="surname" type="text" required name="surname" class="form-control" placeholder="Your Surname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password" validatePassword class="form-control" placeholder="Password" ngModel #password="ngModel">
            <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Please enter a valid Password</small>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="tel" required name="phone" class="form-control" ngModel #phone="ngModel">
          </div>
          <div class="form-group">
            <label for="role">Role In Organization</label>
            <!--<select class="form-control form-control-sm" id="role" name="role" ngModel>
            <option selected *ngFor="let role of roles">{{role.name}}</option>
            </select>-->
            <select class="form-control form-control-sm" id="role" name="role" ngModel>
              <option>Administrator</option>
              <option>Supervisor</option>
              <option>ChargeHand</option>
              <option>ElectR1</option>
              <option>ElectR2</option>
              <option>ElectR3</option>
              <option>Temp</option>
              <option>First Year Apprentice</option>
              <option>Second Year Apprentice</option>
              <option>Third Year Apprentice</option>
              <option>Fourth Year Apprentice</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
