<div class="card mb-3 mt-3 div-to-stand-out">
  <div class="card-header">Rates</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Rates
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let u of retrieveRolesToDisplay(); let i = index" class="dropdown-item" (click)="displayRatesForSelectedRole(u)">{{u}}</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="card-body">
    <div class="table-responsive">
      <table class='table'>
        <thead class="thead">
          <tr>
            <th>Role</th>
            <th>Effective From</th>
            <th>Effective To</th>
            <th>Rate</th>
            <th>Overtime Rate</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of filteredRates">
            <td>{{ r.role }}</td>
            <td>{{ r.effectiveFrom | date : "fullDate"}}</td>
            <td>{{ r.effectiveTo | date : "fullDate"}}</td>
            <td>{{ r.ratePerHour}}</td>
            <td>{{ r.overTimeRatePerHour}}</td>
            <td *ngIf="r.id > 0"><span aria-hidden="true" (click)="deleteRate(r)"><img src="assets/images/reject.png" class="img-responsive" alt="..."></span></td>
            <td *ngIf="r.id > 0"><span aria-hidden="true" (click)="displaySelectedRate(r)"><img src="assets/images/edit.png" class="img-responsive" alt="..."></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewRateModal">Add Rate</button>
  </div>
</div>
<!-- Display Selected Rate Details -->
<div class="modal fade" id="myDisplayRateModal" tabindex="-1" role="dialog" aria-labelledby="myDisplayRateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myDisplayRateModal">Rate Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="effectiveFrom">Effective From Date</label>
            <input type="datetime" [(ngModel)]="selectedRate.effectiveFrom" name="effectiveFrom" class="form-control" id="effectiveFrom">
          </div>
          <div class="form-group">
            <label for="effectiveTo">Effective To Date</label>
            <input type="datetime" [(ngModel)]="selectedRate.effectiveTo" name="effectiveTo" class="form-control" id="effectiveTo">
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" [(ngModel)]="selectedRate.ratePerHour" name="rate" class="form-control" id="rate">
          </div>
          <div class="form-group">
            <label for="overtimerate">Overtime Rate</label>
            <input type="number" [(ngModel)]="selectedRate.overTimeRatePerHour" name="overtimerate" class="form-control" id="overtimerate">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="updateRate()" class="btn btn-primary">Update Rate</button>
      </div>
    </div>
  </div>
</div>
<!-- New Rate Details Modal-->
<div class="modal fade" id="myNewRateModal" tabindex="-1" role="dialog" aria-labelledby="myNewRateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewRateModal">New Rate</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control form-control-sm" id="role" name="role" [(ngModel)]="newRate.role">
              <option>Administrator</option>
              <option>Supervisor</option>
              <option>ChargeHand</option>
              <option>ElectR1</option>
              <option>Temp</option>
              <option>First Year Apprentice</option>
              <option>Second Year Apprentice</option>
              <option>Third Year Apprentice</option>
              <option>Fourth Year Apprentice</option>
              <option>Loc1</option>
              <option>Loc2</option>
              <option>Loc3</option>
              <option>Electrical Engineer</option>
              <option>Fire Engineer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="effectiveFrom">Effective From Date</label>
            <input type="date" [(ngModel)]="newRate.effectiveFrom" name="effectiveFrom" class="form-control" id="effectiveFrom">
          </div>
          <div class="form-group">
            <label for="effectiveTo">Effective To Date</label>
            <input type="date" [(ngModel)]="newRate.effectiveTo" name="effectiveTo" class="form-control" id="effectiveTo">
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" [(ngModel)]="newRate.ratePerHour" name="rate" class="form-control" id="rate">
          </div>
          <div class="form-group">
            <label for="overtimerate">Overtime Rate</label>
            <input type="number" [(ngModel)]="newRate.overTimeRatePerHour" name="overtimerate" class="form-control" id="overtimerate">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="saveRate()" class="btn btn-primary" [disabled]="newRate.role == ''">Save Rate</button>
      </div>
    </div>
  </div>
</div>
