.container-with-bg {
  background: url(../../../assets/images/sun-pattern.png) repeat 0 0;
}

.div-to-stand-out {
  box-shadow: 0 0 1em 1em #ccc;
}

.table tr.active td {
  background-color: #ccddff;
}
