@model SignOnMonitor.Models.SignOnRequest

@{
    ViewBag.Title = "ViewMap";
}

<script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
    function InitializeMap() {
        var latlng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);
        var myOptions = {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googlemap"), myOptions);
        var marker = new google.maps.Marker(
            {
                position: latlng,
                map:map,
                title: 'Signed On From Here'
            }
        );
    }
    window.onload = InitializeMap;
</script>


<h2>ViewMap</h2>

<div>
    <h4>SignOnRequest</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="googlemap" style="width:300px; height:400px"/>
    </div>
    <div class="row">
        <div class="col-md-6">@Html.Raw(@Model.ImageAsHtml)</div>
    </div>
</div>

