<div class="container-fluid">
  <div class="row">
    <div class="col border">Week</div>
    <!--<div class="col border">Supervisor</div>-->
    <div class="col border">Supervisor Cost</div>
    <!--<div class="col border">ChargeHand</div>-->
    <div class="col border">Charge Hand Cost</div>
    <!--<div class="col border">ElectR1</div>-->
    <div class="col border">ElectR1 Cost</div>
    <!--<div class="col border">ElectR2</div>-->
    <div class="col border">ElectR2 Cost</div>
    <!--<div class="col border">ElectR3</div>-->
    <div class="col border">ElectR3 Cost</div>
    <!--<div class="col border">Temp</div>-->
    <div class="col border">Temp Cost</div>
    <!--<div class="col border">First Year Apprentice</div>-->
    <div class="col border">First Year Apprentice Cost</div>
    <!--<div class="col border">Second Year Apprentice</div>-->
    <div class="col border">Second Year Apprentice Cost</div>
    <!--<div class="col border">Third Year Apprentice</div>-->
    <div class="col border">Third Year Apprentice Cost</div>
    <!--<div class="col border">Fourth Year Apprentice</div>-->
    <div class="col border">Fourth Year Apprentice Cost</div>
    <div class="col border">Total Labour Cost</div>
  </div>
  <div class="row" *ngFor="let lw of labourWeeks">
    <div class="col border">{{ lw.week | date:'fullDate'}}</div>

    <!--<div class="col border">{{lw.supervisorMinutes/60}}</div>-->
    <div class="col border">{{lw.supervisorCost | currency}}</div>

    <!--<div class="col border">{{lw.chargehandMinutes/60}}</div>-->
    <div class="col border">{{lw.chargehandCost | currency}}</div>

    <!--<div class="col border">{{lw.elecR1Minutes/60}}</div>-->
    <div class="col border">{{lw.elecR1Cost | currency}}</div>

    <!--<div class="col border">{{lw.elecR2Minutes/60}}</div>-->
    <div class="col border">{{lw.elecR2Cost | currency}}</div>

    <!--<div class="col border">{{lw.elecR3Minutes/60}}</div>-->
    <div class="col border">{{lw.elecR3Cost | currency}}</div>

    <!--<div class="col border">{{lw.tempMinutes/60}}</div>-->
    <div class="col border">{{lw.tempCost | currency}}</div>

    <!--<div class="col border">{{lw.firstYearApprenticeMinutes/60}}</div>-->
    <div class="col border">{{lw.firstYearApprenticeCost | currency}}</div>

    <!--<div class="col border">{{lw.secondYearApprenticeMinutes/60}}</div>-->
    <div class="col border">{{lw.secondYearApprenticeCost | currency}}</div>

    <!-- <div class="col border">{{lw.thirdYearApprenticeMinutes/60}}</div>-->
    <div class="col border">{{lw.thirdYearApprenticeCost | currency}}</div>

    <!--<div class="col border">{{lw.fourthYearApprenticeMinutes/60}}</div>-->
    <div class="col border">{{lw.fourthYearApprenticeCost | currency}}</div>

    <div class="col border">{{lw.totalCost | currency}}</div>
  </div>
</div>
