<div class="table-responsive">
  <table class='table'>
    <thead class="thead-light">
      <tr>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Code</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="owner">
      <tr *ngFor="let tse of getSortedTimesheetEntries()">
        <td>{{ tse.day }}</td>
        <td>{{ tse.startTime }}</td>
        <td>{{ tse.endTime }}</td>
        <td>{{ getCodeToDisplay(tse) }}</td>
        <td>{{ tse.details }}</td>
        <td *ngIf="owner && owner.status == 'Approved'"><span *ngIf="editable" aria-hidden="true" (click)="removeTimesheetEntry(tse)"><img src="assets/images/reject.png" class="img-responsive" alt="..."></span></td>
      </tr>
    </tbody>
    <tfoot *ngIf="owner">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='badge badge-success'>Payable Hours: {{ calculateTotalPayableDuration() }}</span></td>
        <td><span [class]="timesheeExceedsWeeklyLimit() ? 'badge badge-warning' : 'badge badge-success'">Hours Worked: {{ calculateTotalDuration() }}</span></td>
        <td *ngIf="owner && owner.status == 'Approved'">
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" [checked]="editable" class="custom-control-input" id="CanEdit" name="CanEdit" [(ngModel)]="editable">
              <label class="custom-control-label" for="CanEdit">Make Corrections</label>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
