<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="date" placeholder="Search" aria-label="Search" name="selectedDate" [(ngModel)]="selectedDate">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="setSelectedDate()">Search Timesheets</button>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="toggleTimesheetView()">{{nameForButton()}}</button>
    <div class="ml-5" data-container="body" data-toggle="tooltip" title="New Timesheets Received" style="display: block" *ngIf='signalRService._certcreatedmessage'><span (click)="clearSignalRMessages()"><img src="assets/images/schedule.png" class="img-responsive" alt="..."></span></div>
  </form>
</nav>
<div *ngIf="errors" class="alert alert-danger alert-dismissible">
  <strong>{{ errors }}</strong>
</div>
<div class="container-fluid">
  <div class="card mb-3 mt-3">
    <div class="card-header">
      Work Sheets
    </div>
    <div class="card-body" *ngIf="timesheets">
      <div class="row mt-3" *ngFor="let ts of retrieveTimesheetsForDisplay(); let i = index">
        <div class="col-md-3">
          <a data-toggle="collapse" href="#collapseExample{{i}}" role="button" attr.aria-expanded="false" attr.aria-controls="collapseExample{{i}}">
            {{ts.weekStarting | date:'fullDate'}}
          </a>
        </div>
        <div [ngClass]="{'col-md-6': ts.timesheetNotes.length > 0, 'col-md-8': !ts.timesheetNotes.length > 0}">
          <div class="collapse" id="collapseExample{{i}}">
            <p><strong>Status:    </strong>{{getTimesheetStatus(i)}}  <strong>Employee:  </strong>{{getTimesheetOwner(i)}}</p>
            <div class="table-responsive">
              <table class='table'>
                <thead class="thead-light">
                  <tr>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Code</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tse of getTimesheetEntries(i)">
                    <td>{{ tse.day }}</td>
                    <td>{{ tse.startTime }}</td>
                    <td>{{ tse.endTime }}</td>
                    <td>{{ tse.code }}</td>
                    <td>{{tse.details}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span [class]="timesheeExceedsWeeklyLimit(i) ? 'badge badge-warning' : 'badge badge-success'">Hours Worked: {{ calculateTotalDuration(i) }}</span></td>
                  </tr>
                </tfoot>
              </table>
              <button type="button" class="btn btn-primary" data-toggle="modal" (click)="addTimesheetNote(ts)">Add Note</button>
              <button *ngIf="canApproveTimesheet(ts)" (click)="approveTimesheet(ts)" class="btn btn-primary">Approve Timesheet</button>
              <button *ngIf="canRejectTimesheet(ts)" (click)="rejectTimesheet(ts)" class="btn btn-primary">Reject Timesheet</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="collapse" id="collapseExample{{i}}">
            <!--<h3>Notes</h3>-->
            <div class="card mb-3 mt-3 bg-light div-to-stand-out" *ngFor="let note of ts.timesheetNotes">
              <div class="card-body">
                <p class="card-text">{{note.details}}</p>
                <a class="text-primary" (click)="deleteNote(note,ts)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New Timesheet Note -->
  <div class="modal fade" id="myNewNoteModal" tabindex="-1" role="dialog" aria-labelledby="myNewNoteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myNewNoteModal">New Note</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="details">Details</label>
              <input type="text" [(ngModel)]="newNote.details" name="details" class="form-control" [ngClass]="{'is-invalid': newNoteDetails.invalid, 'is-valid': !newNoteDetails.invalid}" id="details" placeholder="Enter Details" required #newNoteDetails="ngModel">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button [disabled]="newNoteDetails.invalid" (click)="saveTimesheetNote()" class="btn btn-primary">Save Note</button>
        </div>
      </div>
    </div>
  </div>
</div>
