<div class="container-fluid">
  <h1 class="display-4">Work Sheets</h1>
  <div *ngFor="let ts of retrieveTimesheetsForDisplay(); let i = index" id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseExample{{i}}">
          Timesheets For {{ ts.username }}, Week Beginning {{ ts.weekStarting }}
        </a>
      </div>
      <div class="collapse" id="collapseExample{{i}}">
        <div class="table-responsive">
          <table class='table'>
            <thead class="thead-light">
              <tr>
                <th>Project</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Details</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tse of getTimesheetEntriesForTimesheet(i)">
                <td>{{ tse.project }}</td>
                <td>{{ tse.day }}</td>
                <td>{{ tse.startTime }}</td>
                <td>{{ tse.endTime }}</td>
                <td>{{ tse.details }}</td>
                <td>{{ calculateDuration(tse) }} mins</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><p class="text-primary">Total Duration</p></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="badge badge-secondary">{{ calculateTotalDuration() }} mins</span></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <nav class="navbar navbar-light">
      <form class="form-inline" role="search">
        <input type="date" class="form-control" placeholder="Search" name="selectedDate" [(ngModel)]="selectedDate">
        <button (click)="setSelectedDate()" class="btn btn-primary">Load WorkSheets</button>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let u of users" (click)="retrieveTimeSheetsForCustomer(u)"><a>{{u | uppercase}}</a></li>
          </ul>
        </li>-
      </ul>
    </nav>
    <div *ngIf="errors" class="alert alert-danger alert-dismissible">
      <strong>{{ errors }}</strong>
    </div>
  </div>
</div>
