
@{
    ViewBag.Title = "ChurchDetails";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <img src="~/Content/Images/churchpageicon.png" class="img-responsive" />
        </div>
    </div>
</div>

