@model BigDay.Models.WeddingGuest

<div class="panel panel-default">
    <div class="panel-heading"><h3>@ViewBag.Message</h3></div>
    <div class="panel-body">
        <p>Enter details here on @Model.Firstname @Model.Surname</p>
        <hr />
    </div>
</div>
<a href="/Home/Guests" class="btn btn-default" role="button">Back</a>