@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <img src="Content/Images/headericon.png" class="img-responsive" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row col-md-12">
        <div>
            <a href='@Url.Action("ChurchDetails", "Home")'>
                <img src="Content/Images/church.png"/>
            </a>
            <a href='@Url.Action("ReceptionDetails", "Home")'>
                <img src="Content/Images/reception.png"/>
            </a>
            <img src="Content/Images/accommodation.png"/>
        </div>
    </div>
</div>