@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <img src="Content/Images/headericon.png" class="img-responsive" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href='@Url.Action("ChurchDetails", "Home")'>
                <img src="Content/Images/church.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <a href='@Url.Action("ReceptionDetails", "Home")'>
                <img src="Content/Images/reception.png" class="img-responsive" />
            </a>
        </div>
        <div class="col-md-4">
            <img src="Content/Images/accommodation.png" class="img-responsive" />
        </div>    
    </div>
</div>