<div class="row" *ngIf="monday">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" data-toggle="tooltip" data-placement="top" title="{{monday.date}}"><a href="#">{{monday.nameOfDay}}</a></li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title="{{tues.date}}"><a href="#" >{{tues.nameOfDay}}</a></li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title="{{wed.date}}"><a href="#">{{wed.nameOfDay}}</a></li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title="{{thurs.date}}"><a href="#">{{thurs.nameOfDay}}</a></li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title="{{fri.date}}"><a href="#">{{fri.nameOfDay}}</a></li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title="{{sat.date}}"><a href="#">{{sat.nameOfDay}}</a></li>
  </ul>
</div>
