<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Mon'}" (click)="paintMonTab()">Mon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Tue'}" (click)="paintTueTab()">Tue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Wed'}" (click)="paintWedTab()">Wed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Thurs'}" (click)="paintThursTab()">Thurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Fri'}" (click)="paintFriTab()">Fri</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': selectedDay=='Sat'}" (click)="paintSatTab()">Sat</a>
  </li>
</ul>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <img src="assets/images/loading3.gif" *ngIf="loading" />
    </div>
  </div>
  <div class="row" *ngIf="displayListOfEntries() && !loading">
    <div class="table-responsive">
      <table class='table'>
        <thead class="thead-light">
          <tr>
            <th>Project</th>
            <th>Start</th>
            <th>End</th>
            <th>Details</th>
            <th>Duration</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of retrieveTimesheetsForTab()">
            <td>{{ entry.project }}</td>
            <td>{{ entry.startTime }}</td>
            <td>{{ entry.endTime }}</td>
            <td>{{ entry.details }}</td>
            <td>{{ calculateDuration(entry) }} mins</td>
            <td><span aria-hidden="true" (click)="removeTimesheetEntry(entry)"><img src="assets/images/delete.png" class="img-responsive" alt="..."></span></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="badge badge-primary">Duration: {{ calculateTotalDuration() }} mins</span></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" *ngIf="!loading && (activeTimeSheet.status == 'New' || activeTimeSheet.status == 'Rejected')">
      <button type="button" class="btn btn-primary" (click)="toggleDisplayAddTimesheet()">Add Entry</button>
    </div>
    <div class="col-md-2" *ngIf="!loading && (activeTimeSheet.status == 'New' || activeTimeSheet.status == 'Rejected')">
      <button type="button" class="btn btn-primary" (click)="submitTimesheet()">Submit Timesheet</button>
    </div>
  </div>
  <!-- New Timesheet Details Modal -->
  <div class="modal fade" id="myNewTimesheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Timesheet Entry</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="project">Project</label>
              <select class="form-control form-control-sm" id="project" name="project" [(ngModel)]="newEntry.project">
                <option *ngFor="let project of projects" selected>{{project.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="startTime">Start Time</label>
              <input type="time" [(ngModel)]="newEntry.startTime" name="startTime" class="form-control" id="startTime">
            </div>
            <div class="form-group">
              <label for="endTime">End Time</label>
              <input type="time" [(ngModel)]="newEntry.endTime" name="endTime" class="form-control" id="endTime">
            </div>
            <div class="form-group">
              <label for="details">Details</label>
              <textarea [(ngModel)]="newEntry.details" name="details" class="form-control" id="details" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="addTimesheetEntry()" class="btn btn-secondary">Save Entry</button>
        </div>
      </div>
    </div>
  </div>
</div>
