<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="fromDate">From Date</label>
          <input type="date" [(ngModel)]="holidayRequest.fromDate" name="fromDate" class="form-control" id="fromDate">
        </div>
        <div class="form-group">
          <label for="days">Number of days</label>
          <input type="number" [(ngModel)]="holidayRequest.days" name="days" class="form-control" id="days">
        </div>
        <div class="form-group">
          <label for="approverId">Choose Approver</label>
          <select [(ngModel)]="holidayRequest.approverId" name="approverId" class="form-control" id="approverId">
            <option *ngFor="let s of supervisors" [value]="s.id">{{s.firstName}} {{s.surname}}</option>
          </select>
        </div>
        <button (click)="submitHolidayRequest()" class="btn btn-secondary">Submit Request</button>
      </form>
    </div>
    <div class="col" *ngIf="holidayRequests">
      <div class="card mb-3">
        <div class="card-header">
          Holiday Requests
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>From Date</th>
                  <th>Days</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of holidayRequests">
                  <td>{{ r.fromDate }}</td>
                  <td>{{ r.days}}</td>
                  <td>{{r.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
