body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    /*Added the lines below*/
    background: url(Images/Card2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.collapseguestdetails {
  display: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.table-fixedheader {
    width:100%;
}

table.table-fixedheader, table.table-fixedheader>thead,
table.table-fixedheader>tbody, table.table-fixedheader>thead>tr,
table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td{
    display:block;
}

table.table-fixedheader>thead>tr:after,table.table-fixedheader>tbody>tr:after {
    content: ' ';
    display:block;
    visibility:hidden;
    clear:both;
}

table.table-fixedheader tbody {
    overflow-y:scroll;
    height:200px;
    overflow-x:hidden;
}

div.scrolling {
    display:block;
    overflow-y:scroll;
    height:200px;
}

