.container-with-bg {
  background: url(../../assets/images/sun-pattern.png) repeat 0 0;
}

.div-to-stand-out {
  box-shadow: 0 0 1em 1em #ccc;
}

.list-group-item-action.active {
  background: #e6f2ff;
}

