<div *ngIf="!selectedUser" class="d-flex justify-content-center">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<nav *ngIf="selectedUser" class="navbar navbar-expand-lg navbar-light bg-light">
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="showAddUser()">Add User</button>
    <button class="btn btn-outline-success my-2 my-sm-0 ml-2" (click)="showAddContractUser()">Add LOC User</button>
  </form>
</nav>
<div class="container-fluid" *ngIf="selectedUser">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a *ngFor="let u of retrieveUsersToDisplay(); let i = index" class="list-group-item list-group-item-action" [class.active]="selectedUserRow === i" (click)="displaySelectedUserDetails(u, i)">{{u.firstName | uppercase}} {{u.surname | uppercase}}</a>
      </div>
      <nav aria-label="User Navigation">
        <ul class="pagination">
          <li [ngClass]="{'page-item': usersCurrentPage > 1, 'page-item disabled': usersCurrentPage == 1}">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo; Back</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li [ngClass]="{'page-item': usersCurrentPage < determineUsersPageCount(), 'page-item disabled': usersCurrentPage >= determineUsersPageCount()}">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">Next &raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div *ngIf="selectedUser" class="col">
          <user-details [user]="selectedUser"></user-details>
        </div>
        <div *ngIf="!isContractor()" class="col">
          <div [class]="selectedUser.isEnabled ? 'card mb-3 mt-3 div-to-stand-out' : 'card mb-3 mt-3 div-to-stand-out bg-secondary'">
            <div class="card-header">Reset Password For {{selectedUser.firstName | uppercase}} {{selectedUser.surname | uppercase}}</div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="resetPasswordDetails.password">Password</label>
                  <input type="text" [(ngModel)]="resetPasswordDetails.password" name="password" class="form-control" id="password">
                </div>
                <button class="btn btn-primary" type="button" (click)="resetPassword()">
                  <span [class]="resettingPassword ? 'spinner-grow spinner-grow-sm' : ''" role="status" aria-hidden="true"></span>
                  Reset Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div [class]="selectedUser.isEnabled ? 'card mb-3 mt-3 div-to-stand-out' : 'card mb-3 mt-3 div-to-stand-out bg-secondary'">
            <div class="card-header">Timesheets</div>
            <div class="card-body">
              <div class="row" *ngFor="let ts of retrieveTimesheetsForDisplay(); let i = index">
                <div class="col-md-4">
                  <a [ngClass]="{'text-warning': ts.status == 'New', 'text-success': ts.status == 'Approved', 'text-primary': ts.status == 'Submitted', 'text-danger': ts.status == 'Rejected'}" data-toggle="collapse" href="#collapseExample{{i}}" role="button" attr.aria-expanded="false" attr.aria-controls="collapseExample{{i}}">
                    {{ts.status}}: {{ ts.weekStarting | date:'mediumDate'}}
                  </a>
                </div>
                <div class="col-md-8 collapse" id="collapseExample{{i}}">
                  <!--List timesheet Entries-->
                  <timesheet-entry-list [owner]="getActiveTimesheet(i)"></timesheet-entry-list>
                </div>
              </div>
              <button class="btn btn-primary mt-3" type="button" (click)="retrieveTimesheetsForUser()">
                <span [class]="loadingTimesheets ? 'spinner-grow spinner-grow-sm' : ''" role="status" aria-hidden="true"></span>
                Load Timesheets
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="!isContractor()" class="col">
          <div [class]="selectedUser.isEnabled ? 'card mb-3 mt-3 div-to-stand-out' : 'card mb-3 mt-3 div-to-stand-out bg-secondary'">
            <div class="card-header">Notification Details</div>
            <div class="card-body">
              <user-notifications [user]="selectedUser"></user-notifications>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Toasts -->
<div aria-live="polite" aria-atomic="true">
  <!-- Position it -->
  <div style="position: absolute; top: 3rem; right: 0;">
    <div class="toast" style="background-color:lightgreen" role="status" aria-live="polite" aria-atomic="true" data-delay="4000">
      <div class="toast-header">
        <strong class="mr-auto">Notification!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="toast-body">
        {{userMessage}}
      </div>
    </div>
  </div>
</div>

<!-- Registration Modal -->
<div class="modal fade" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form #rf="ngForm" novalidate (ngSubmit)="registerUser(rf)">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" type="text" required name="firstname" class="form-control" placeholder="Your Firstname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input id="surname" type="text" required name="surname" class="form-control" placeholder="Your Surname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
            <small [hidden]="email.valid || (email.pristine)" class="text-danger">Please enter a valid email</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password" validatePassword class="form-control" placeholder="Password" ngModel #password="ngModel">
            <small [hidden]="password.valid || (password.pristine)" class="text-danger">Please enter a valid Password</small>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="tel" required name="phone" class="form-control" ngModel #phone="ngModel">
          </div>
          <div class="form-group">
            <label for="role">Role In Organization</label>
            <select class="form-control form-control-sm" id="role" name="role" [(ngModel)]="fulltimeStaffRole">
              <option *ngFor="let role of retrieveListOfRoles()">{{role}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <div *ngIf="userMessage" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{userMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register Contractor Modal -->
<div class="modal fade" id="myContractorRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register LOC</h4>
      </div>
      <div class="modal-body">
        <form #crf="ngForm" novalidate (ngSubmit)="registerUser(crf)">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="contractorfirstname" type="text" required name="firstname" class="form-control" placeholder="Your Firstname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input id="contractorsurname" type="text" required name="surname" class="form-control" placeholder="Your Surname" tmFocus ngModel>
          </div>
          <div class="form-group">
            <label for="role">Role In Organization</label>
            <select class="form-control form-control-sm" id="contractorrole" name="role" [(ngModel)]="contractorRole">
              <option *ngFor="let role of retrieveListOfRoles()">{{role}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <div *ngIf="userMessage" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{userMessage}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
