<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Users
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a *ngFor="let u of retrieveUsersToDisplay(); let i = index" class="dropdown-item" (click)="displaySelectedUserDetails(u, i)">{{u.firstName | uppercase}} {{u.surname | uppercase}}</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      {{selectedUser.firstName | uppercase}} {{selectedUser.surname | uppercase}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Details</h5>
      <p class="card-text">Email: {{selectedUser.email}}</p>
      <p class="card-text">Phone: {{selectedUser.phoneNumber}}</p>
      <p class="card-text">Role: {{selectedUser.role}}</p>
      <a (click)="toggleDisplayAddCertificate()" class="btn btn-primary">Add Certificate</a>
    </div>
  </div>
  <div class="card" *ngIf="selectedUserCertifications.length>0">
    <div class="card-header">CertificationDetails</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class='table'>
          <thead class="thead">
            <tr>
              <th>Description</th>
              <th>Expiry Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crt of selectedUserCertifications" [ngClass]="{'danger': hasCertExpired(crt)}">
              <td>{{ crt.description }}</td>
              <td>{{ crt.expiry}}</td>
              <td><span aria-hidden="true" (click)="deleteCertification(crt)">Delete</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <!--  New Certificate Details Modal  -->
  <div class="modal fade" id="myNewCertificateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Certificate</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="expiry">Expiry</label>
              <input type="date" [(ngModel)]="newCertificate.expiry" name="expiry" class="form-control" id="expiry">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea [(ngModel)]="newCertificate.description" name="description" class="form-control" id="description" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="addCertificateEntry()" class="btn btn-primary">Save Certificate</button>
        </div>
      </div>
    </div>
  </div>
