<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Users
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a *ngFor="let u of retrieveUsersToDisplay(); let i = index" class="dropdown-item" (click)="displaySelectedUserDetails(u, i)">{{u.firstName | uppercase}} {{u.surname | uppercase}}</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container-fluid container-with-bg" *ngIf="selectedUser">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 mt-3">
        <div class="card-header">
          {{selectedUser.firstName | uppercase}} {{selectedUser.surname | uppercase}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <p class="card-text">Email: {{selectedUser.email}}</p>
          <p class="card-text">Phone: {{selectedUser.phoneNumber}}</p>
          <p class="card-text">Role: {{selectedUser.role}}</p>
          <button type="button" class="btn btn-primary" (click)="retrieveTimesheetsForUser()">Load Timesheets</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 mt-3">
        <div class="card-header">Holiday Requests</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>From Date</th>
                  <th>Number Of Days</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hol of selectedUsersHolidayRequests">
                  <td>{{hol.fromDate}}</td>
                  <td>{{hol.days}}</td>
                  <td>{{hol.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 mt-3">
        <div class="card-header">CertificationDetails</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Description</th>
                  <th>Expiry Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let crt of selectedUserCertifications" [ngClass]="{'danger': hasCertExpired(crt)}">
                  <td>{{ crt.description }}</td>
                  <td>{{ crt.expiry}}</td>
                  <td><span aria-hidden="true" (click)="deleteCertification(crt)"><img src="assets/images/delete.png" class="img-responsive" alt="..."></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary" (click)="toggleDisplayAddCertificate()">Add Certificate</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 mt-3">
        <div class="card-header">Notification Details</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Subject</th>
                  <th>Body</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let not of selectedUserNotifications">
                  <td>{{ not.subject }}</td>
                  <td>{{ not.body}}</td>
                  <td><span aria-hidden="true" (click)="deleteNotification(not)"><img src="assets/images/delete.png" class="img-responsive" alt="..."></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary" (click)="toggleDisplayAddEmailNotification()">Add Notification</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3 mt-3" *ngIf="timesheets">
        <div class="card-header">Timesheets</div>
        <div class="card-body">
          <div class="row" *ngFor="let ts of retrieveTimesheetsForDisplay(); let i = index">
            <div class="col-md-4">
              <a data-toggle="collapse" href="#collapseExample{{i}}" role="button" attr.aria-expanded="false" attr.aria-controls="collapseExample{{i}}">
                Week Beginning {{ ts.weekStarting | date:'fullDate'}}
              </a>
            </div>
            <div class="col-md-8 collapse" id="collapseExample{{i}}">
              <div class="table-responsive">
                <table class='table'>
                  <thead class="thead-light">
                    <tr>
                      <th>Day</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Project</th>
                      <th>Details</th>
                      <th>Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tse of getTimesheetEntriesForTimesheet(i)">
                      <td>{{ tse.day }}</td>
                      <td>{{ tse.startTime }}</td>
                      <td>{{ tse.endTime }}</td>
                      <td>{{ tse.project }}</td>
                      <td>{{ tse.details }}</td>
                      <td>{{ calculateDuration(tse) }} mins</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--  New Certificate Details Modal Develop Branch -->
  <div class="modal fade" id="myNewCertificateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Certificate</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="expiry">Expiry</label>
              <input type="date" [(ngModel)]="newCertificate.expiry" name="expiry" class="form-control" id="expiry">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea [(ngModel)]="newCertificate.description" name="description" class="form-control" id="description" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="addCertificateEntry()" class="btn btn-primary">Save Certificate</button>
        </div>
      </div>
    </div>
  </div>
  <!-- New Email Notification Details Modal-->
  <div class="modal fade" id="myNewEmailNotificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Email Notification</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="description">Subject</label>
              <input type="text" [(ngModel)]="newEmailNotification.subject" name="subject" class="form-control" id="subject" rows="3">
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea [(ngModel)]="newEmailNotification.body" name="body" class="form-control" id="body" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="addNotification()" class="btn btn-primary">Save Notification</button>
        </div>
      </div>
    </div>
  </div>
