@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="lightgrey">O'Neills Electrical Contractor</font></h1>
    <p class="lead"><font color="lightgrey">O'Neill Electrical Contractor Timesheet Application</font></p>
    <div style="padding-top: 100px;">
        <p><a href="http://denisoneill.azurewebsites.net/Home/Projects" class="btn btn-primary btn-lg">Projects  &raquo;</a></p>
        <p><a href="http://denisoneill.azurewebsites.net/Home/ListTimesheets" class="btn btn-primary btn-lg">List Timesheets &raquo;</a></p>
        <p><a href="http://denisoneill.azurewebsites.net/Home/RecordTimesheet" class="btn btn-primary btn-lg">Record Timesheet &raquo;</a></p>

        <!--<p><a href="http://localhost:44302/Home/NewProject" class="btn btn-primary btn-lg">Create New Project &raquo;</a></p>
        <p><a href="http://localhost:44302/Home/ListProjects" class="btn btn-primary btn-lg">List Projects &raquo;</a></p>-->
    </div>
</div>

<!--<div class="row">
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        <div class="col-md-12">
            <h2>Create New Project</h2>
            <p>
                Create a new Project, for Engineers to choose from, when submitting timesheets
            </p>
            <p><a class="btn btn-default" href="http://denisoneill.azurewebsites.net/Home/Projects">Create Project &raquo;</a></p>
        </div>
    }
    if (User.IsInRole("engineer"))
    {
        <div class="col-md-12">
            <h2>Enter Timesheets</h2>
            <p>Record time against specific project code.</p>
            <p><a class="btn btn-default" href="http://denisoneill.azurewebsites.net/Home/RecordTimesheet">Record Time &raquo;</a></p>
        </div>
    }
}
</div>-->