<form ng-app="postApp" ng-controller="listProjectsController" style="padding-top: 20px;" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                    Project Name
                                    <span ng-show="sortType == 'Name'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortType = 'StartDate'; sortReverse = !sortReverse">
                                    Start Date
                                    <span ng-show="sortType == 'StartDate'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in projects | orderBy:sortType:sortReverse | offset: (currentPage-1)*itemPerPage | limitTo: itemPerPage" ng-click="showDetails(p)">
                            <td>{{ p.Name }}</td>
                            <td>{{ p.StartDate }}</td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a href="#" ng-click="previousPage()">Previous</a></li>
                        <li><a href="#" ng-click="nextPage()">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 panel panel-primary">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <p class="text-info">Details</p>
                    <fieldset ng-disabled="readOnlyMode">
                        <div class="form-group">
                            Name: <input type="text" class="form-control" id="projectName" ng-model="item_details.Name" required>
                        </div>
                        <br />
                        From Date: <p class="text-muted">{{item_details.StartDate | date}}</p>
                        <br />
                        <div class="form-group">
                            Contact Number: <input type="tel" class="form-control input-medium bfh-phone" id="contactNumber" data-format="+353 (ddd) ddddddd" ng-model="item_details.ContactNumber" required>
                        </div>
                        <br />
                        <div class="form-group">
                            Details: <textarea class="form-control" rows="5" id="details" ng-model="item_details.Details" required></textarea>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="readOnlyMode = !readOnlyMode">Edit</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="updateProject()" ng-disabled=" readonlymode">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
