<div ng-app="postApp" ng-controller="listProjectsController" style="padding-top: 20px;" ng-cloak>
    <div class="page-header">
        <h1><small>Projects</small></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                    Project Name
                                    <span ng-show="sortType == 'Name'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortType = 'StartDate'; sortReverse = !sortReverse">
                                    Start Date
                                    <span ng-show="sortType == 'StartDate'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in projects | orderBy:sortType:sortReverse" ng-click="showDetails(p)">
                            <td>{{ p.Name }}</td>
                            <td>{{ p.StartDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 panel panel-primary">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <p class="text-info">Details</p>
                    Name: <p class="text-muted">{{item_details.Name | uppercase}}</p>
                    <br />
                    From Date: <p class="text-muted">{{item_details.StartDate | date}}</p>
                    <br />
                    Contact Number: <p class="text-muted">{{item_details.ContactNumber}}</p>
                    <br />
                    Details: <p class="text-muted">{{item_details.Details}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
