<div ng-app="timeApp" ng-controller="listTimesheetController" style="padding-top: 20px;">
    <div class="page-header">
        <h1><small>Work Sheets</small></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="t in timesheets" ng-click="showTimesheetDetails(t)">{{t.engineerName + " For week ending " + t.weekEndDate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-show="showtimesheetdetails">
                Engineer Name: <p class="text-muted">{{selectedtimesheet.engineerName | uppercase}}</p>
                <br />
                Week Ending: <p class="text-muted">{{selectedtimesheet.weekEndDate | uppercase}}</p>
                <br />
                <div class="list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="tsi in timesheetitems">{{tsi.Day + " Worked For " + tsi.ProjectName + " between " + tsi.dayStartTime + " and " + tsi.dayEndTime}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
