<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://denisoneill.azurewebsites.net/">Home</a></li>
    <li class="breadcrumb-item active">List Timesheets</li>
</ol>
<div ng-app="timeApp" ng-controller="listTimesheetController" style="padding-top: 20px;" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortType = 'engineerName'; sortReverse = !sortReverse">
                                    Engineer Name
                                    <span ng-show="sortType == 'engineerName'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortType = 'weekEndDate'; sortReverse = !sortReverse">
                                    Week Ending
                                    <span ng-show="sortType == 'weekEndDate'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in timesheets | orderBy:sortType:sortReverse" ng-click="showTimesheetDetails(t)">
                            <td>{{ t.engineerName }}</td>
                            <td>{{ t.weekEndDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 panel panel-primary" ng-show="showtimesheetdetails">
                <div class="panel-body">
                    <p class="text-info">Engineer Name: </p><p class="text-muted">{{selectedtimesheet.engineerName | uppercase}}</p>
                    <br />
                    <p class="text-info">Week Ending: </p><p class="text-muted">{{selectedtimesheet.weekEndDate | date:'yyyy-MM-dd'}}</p>
                    <br />
                    <div class="list-group">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="tsi in timesheetitems">{{tsi.Day + " Worked For " + tsi.ProjectName + " between " + tsi.dayStartTime + " and " + tsi.dayEndTime}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
