<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://denisoneill.azurewebsites.net/">Home</a></li>
    <li class="breadcrumb-item active">New Project</li>
</ol>
<form ng-app="postApp" name="projectForm" ng-controller="postController" ng-submit="saveProject()" ng-cloak>
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <md-input-container>
                        <label>Project Name</label>
                        <input name="projectName" ng-model="project.Name" required md-maxlength="10">
                        <div ng-messages="projectForm.project.Name.$error" ng-show="projectForm.project.Name.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container>
                        <label>Start Date</label>
                        <input type="date" name="fromDate" ng-model="project.StartDate" required>
                        <div ng-messages="project.StartDate.$error" ng-show="project.StartDate.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container>
                        <label>Contact Number</label>
                        <input type="number" name="contactNumber" ng-model="project.ContactNumber" required>
                        <div ng-messages="project.ContactNumber.$error" ng-show="project.ContactNumber.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="row">
                    <md-input-container>
                        <label>Details</label>
                        <textarea name="details" ng-model="project.Details" required md-maxlength="150"></textarea>
                        <div ng-messages="projectForm.project.Details.$error" ng-show="projectForm.project.Details.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div class="col-md-6 panel panel-primary">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    Name: <p class="text-muted">{{project.Name | uppercase}}</p>
                    <br />
                    From Date: <p class="text-muted">{{project.StartDate | date}}</p>
                    <br />
                    Contact Number: <p class="text-muted">{{project.ContactNumber}}</p>
                    <br />
                    Details: <p class="text-muted">{{project.Details}}</p>
                    <br />
                    <button class="btn btn-primary" ng-disabled="projectForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </div>
    </div>
</form>