<div class="jumbotron">
    <div style="padding-top: 100px;">
        <p><a href="http://denisoneill.azurewebsites.net/Home/NewProject" class="btn btn-primary btn-lg">Create New Project &raquo;</a></p>
        <p><a href="http://denisoneill.azurewebsites.net/Home/Projects" class="btn btn-primary btn-lg">List Projects &raquo;</a></p>

        <!--<p><a href="https://localhost:44302/Home/NewProject" class="btn btn-primary btn-lg">Create New Project &raquo;</a></p>
        <p><a href="https://localhost:44302/Home/Projects" class="btn btn-primary btn-lg">List Projects &raquo;</a></p>-->
    </div>
</div>
