<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#newproject">New Project</a></li>
    <li><a data-toggle="tab" href="#listprojects">List Projects</a></li>
</ul>

<div class="tab-content" ng-app="postApp" ng-controller="projectsController" ng-cloak>
    <div id="newproject" class="tab-pane fade in active">
        <form ng-app="postApp" name="projectForm" ng-controller="postController" ng-submit="saveProject()" ng-cloak>
            <div class="container" style="padding-top: 20px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <md-input-container>
                                <label>Project Name</label>
                                <input name="projectName" ng-model="project.Name" required>
                                <div ng-messages="projectForm.project.Name.$error" ng-show="projectForm.project.Name.$dirty">
                                    <div ng-message="required">This is required!</div>
                                    <div ng-message="md-maxlength">That's too long!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container>
                                <label>Start Date</label>
                                <input type="date" name="fromDate" ng-model="project.StartDate" required>
                                <div ng-messages="project.StartDate.$error" ng-show="project.StartDate.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container>
                                <label>Contact Number</label>
                                <input type="number" name="contactNumber" ng-model="project.ContactNumber" required>
                                <div ng-messages="project.ContactNumber.$error" ng-show="project.ContactNumber.$dirty">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-input-container>
                                <label>Details</label>
                                <textarea name="details" ng-model="project.Details" required></textarea>
                                <div ng-messages="projectForm.project.Details.$error" ng-show="projectForm.project.Details.$dirty">
                                    <div ng-message="required">This is required!</div>
                                    <div ng-message="md-maxlength">That's too long!</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-6 panel panel-primary">
                        <div class="panel-heading">Details</div>
                        <div class="panel-body">
                            Name: <p class="text-muted">{{project.Name | uppercase}}</p>
                            <br />
                            From Date: <p class="text-muted">{{project.StartDate | date}}</p>
                            <br />
                            Contact Number: <p class="text-muted">{{project.ContactNumber}}</p>
                            <br />
                            Details: <p class="text-muted">{{project.Details}}</p>
                            <br />
                            <button class="btn btn-primary" ng-disabled="projectForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="listprojects" class="tab-pane fade">
        <form ng-app="postApp" ng-controller="listProjectsController" style="padding-top: 20px;" ng-cloak>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>
                                        <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                            Project Name
                                            <span ng-show="sortType == 'Name'" class="fa fa-caret-down"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" ng-click="sortType = 'StartDate'; sortReverse = !sortReverse">
                                            Start Date
                                            <span ng-show="sortType == 'StartDate'" class="fa fa-caret-down"></span>
                                        </a>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in projects | orderBy:sortType:sortReverse | offset: (currentPage-1)*itemPerPage | limitTo: itemPerPage" ng-click="showDetails(p)">
                                    <td>{{ p.Name }}</td>
                                    <td>{{ p.StartDate }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="label label-primary">Page {{currentPage}}</span>
                        <nav aria-label="...">
                            <ul class="pager">
                                <li><a href="#" ng-click="previousPage()"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                                <li><a href="#" ng-click="nextPage()"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6 panel panel-primary detailsbox" ng-show="showDetailsClicked">
                        <div class="panel-heading">Details</div>
                        <div class="panel-body">
                            <fieldset ng-disabled="readOnlyMode">
                                <md-switch ng-disabled="readOnlyMode" class="md-primary" ng-model="item_details.isActive" aria-label="Switch 1">
                                    Active
                                </md-switch>
                                <div class="form-group">
                                    <p class="text-info">Name: </p><input type="text" class="form-control" id="projectName" ng-model="item_details.Name" required>
                                </div>
                                <br />
                                <p class="text-muted">From Date: {{item_details.StartDate | date}}</p>
                                <br />
                                <div class="form-group">
                                    <p class="text-info">Contact Number: </p><input type="tel" class="form-control input-medium bfh-phone" id="contactNumber" data-format="+353 (ddd) ddddddd" ng-model="item_details.ContactNumber" required>
                                </div>
                                <br />
                                <div class="form-group">
                                    <p class="text-info">Details: </p><textarea class="form-control" rows="5" id="details" ng-model="item_details.Details" required></textarea>
                                </div>
                            </fieldset>
                            <md-button class="md-raised md-primary md-hue-1" ng-click="readOnlyMode = !readOnlyMode"><span class="glyphicon glyphicon-pencil"></span></md-button>
                            <md-button class="md-raised md-primary md-hue-1" ng-click="updateProject()" ng-disabled="readOnlyMode"><span class="glyphicon glyphicon-ok"></span></md-button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>