<form ng-app="timeApp" name="timesheetForm" ng-controller="recordTimesheetController" ng-submit="saveTimesheet()" ng-cloak>
    <div class="container">
        <div class="panel panel-primary detailsbox">
            <div class="panel-heading">Record Timesheets</div>
            <div class="col-xs-12">
                <img ng-src="~/Content/Images/mon.png" ng-click="showMon()" />
                <img ng-src="~/Content/Images/tue.png" ng-click="showTue()" />
                <img ng-src="~/Content/Images/wed.png" ng-click="showWed()" />
                <img ng-src="~/Content/Images/thurs.png" ng-click="showThurs()" />
                <img ng-src="~/Content/Images/fri.png" ng-click="showFri()" />
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <md-input-container>
                        <label>Engineer Name</label>
                        <input name="engineerName" ng-model="timesheet.engineerName" required>
                        <div ng-messages="timesheetForm.timesheet.engineerName.$error" ng-show="timesheetForm.timesheet.engineerName.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-4">
                    <md-input-container>
                        <label>Week Ending</label>
                        <input type="date" class="form-control" id="weekEndDate" aria-describedby="weekEndDateHelp" ng-model="timesheet.weekEndDate" required>
                    </md-input-container>
                </div>
                <div class="col-xs-4" ng-show="showsavebutton">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayMonDetails">
                        <h3>Monday</h3>
                        <div ng-repeat="md in mondayDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm">
                                        <small class="form-text text-muted">Project Name: {{md.ProjectName}}</small>
                                        <br />
                                        <small class="form-text text-muted">Hours Worked: {{md.dayEndTime - md.dayStartTime}}</small>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="mondayDetails.ProjectName">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="dayStartTime" ng-model="mondayDetails.dayStartTime" required>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="dayEndTime" ng-model="mondayDetails.dayEndTime" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="recordMondayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayTueDetails">
                        <h3>Tuesday</h3>
                        <div ng-repeat="md in tuesdayDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm">
                                        <small class="form-text text-muted">Project Name: {{md.ProjectName}}</small>
                                        <br />
                                        <small class="form-text text-muted">Hours Worked: {{md.dayEndTime - md.dayStartTime}}</small>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="tuesdayDetails.ProjectName">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="dayStartTime" ng-model="tuesdayDetails.dayStartTime" required>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="dayEndTime" ng-model="tuesdayDetails.dayEndTime" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="recordTuesdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayWedDetails">
                        <h3>Wednesday</h3>
                        <div ng-repeat="md in wednesdayDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm">
                                        <small class="form-text text-muted">Project Name: {{md.ProjectName}}</small>
                                        <br />
                                        <small class="form-text text-muted">Hours Worked: {{md.dayEndTime - md.dayStartTime}}</small>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="wednesdayDetails.ProjectName">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="dayStartTime" ng-model="wednesdayDetails.dayStartTime" required>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="dayEndTime" ng-model="wednesdayDetails.dayEndTime" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="recordWednesdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayThursDetails">
                        <h3>Thursday</h3>
                        <div ng-repeat="md in thursdayDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm">
                                        <small class="form-text text-muted">Project Name: {{md.ProjectName}}</small>
                                        <br />
                                        <small class="form-text text-muted">Hours Worked: {{md.dayEndTime - md.dayStartTime}}</small>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="thursdayDetails.ProjectName">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="dayStartTime" ng-model="thursdayDetails.dayStartTime" required>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="dayEndTime" ng-model="thursdayDetails.dayEndTime" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="recordThursdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayFriDetails">
                        <h3>Friday</h3>
                        <div ng-repeat="md in fridayDetails">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="well well-sm">
                                        <small class="form-text text-muted">Project Name: {{md.ProjectName}}</small>
                                        <br />
                                        <small class="form-text text-muted">Hours Worked: {{md.dayEndTime - md.dayStartTime}}</small>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="fridayDetails.ProjectName">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="dayStartTime" ng-model="fridayDetails.dayStartTime" required>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="dayEndTime" ng-model="fridayDetails.dayEndTime" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="recordFridayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
