<form ng-app="timeApp" name="timesheetForm" ng-controller="recordTimesheetController" ng-submit="saveTimesheet()" ng-cloak>
    <div class="container">
        <div class="panel panel-primary detailsbox">
            <div class="panel-heading">Record Timesheets For @User.Identity.Name</div>
            <div class="col-xs-12 text-center">
                <img ng-src="~/Content/Images/mon.png" ng-click="showMon()" />
                <img ng-src="~/Content/Images/tue.png" ng-click="showTue()" />
                <img ng-src="~/Content/Images/wed.png" ng-click="showWed()" />
                <img ng-src="~/Content/Images/thurs.png" ng-click="showThurs()" />
                <img ng-src="~/Content/Images/fri.png" ng-click="showFri()" />
                <img ng-src="~/Content/Images/sat.png" ng-click="showSat()" />
                <img ng-src="~/Content/Images/sun.png" ng-click="showSun()" />
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <md-input-container>
                        <label>Engineer Name</label>
                        <input name="engineerName" ng-model="timesheet.engineerName" required>
                        <div ng-messages="timesheetForm.timesheet.engineerName.$error" ng-show="timesheetForm.timesheet.engineerName.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-6">
                    <md-input-container>
                        <label>Week Ending</label>
                        <input type="date" class="form-control" id="weekEndDate" aria-describedby="weekEndDateHelp" ng-model="timesheet.weekEndDate" required>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayMonDetails">
                        <p class="h4">Monday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12" ng-repeat="md in mondayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeMondayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="mondayTotalHours>0">
                                <p><strong>Total Hours: {{mondayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedMonday.ProjectName" ng-required="displayMonDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="mondayStartTime" ng-model="recordedMonday.dayStartTime" ng-required="displayMonDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="mondayEndTime" ng-model="recordedMonday.dayEndTime" ng-required="displayMonDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.mondayStartTime.$invalid || timesheetForm.mondayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordMondayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayTueDetails">
                        <p class="h4">Tuesday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in tuesdayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeTuesdayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="tuesdayTotalHours>0">
                                <p><strong>Total Hours: {{tuesdayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedTuesday.ProjectName" ng-required="displayTueDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="tuesdayStartTime" ng-model="recordedTuesday.dayStartTime" ng-required="displayTueDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="tuesdayEndTime" ng-model="recordedTuesday.dayEndTime" ng-required="displayTueDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.tuesdayStartTime.$invalid || timesheetForm.tuesdayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordTuesdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayWedDetails">
                        <p class="h4">Wednesday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in wednesdayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeWednesdayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="wednesdayTotalHours>0">
                                <p><strong>Total Hours: {{wednesdayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedWednesday.ProjectName" ng-required="displayWedDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="wednesdayStartTime" ng-model="recordedWednesday.dayStartTime" ng-required="displayWedDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="wednesdayEndTime" ng-model="recordedWednesday.dayEndTime" ng-required="displayWedDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.wednesdayStartTime.$invalid || timesheetForm.wednesdayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordWednesdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayThursDetails">
                        <p class="h4">Thursday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in thursdayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeThursdayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="thursdayTotalHours>0">
                                <p><strong>Total Hours: {{thursdayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedThursday.ProjectName" ng-required="displayThursDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="thursdayStartTime" ng-model="recordedThursday.dayStartTime" ng-required="displayThursDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="thursdayEndTime" ng-model="recordedThursday.dayEndTime" ng-required="displayThursDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.thursdayStartTime.$invalid || timesheetForm.thursdayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordThursdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displayFriDetails">
                        <p class="h4">Friday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in fridayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeFridayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="fridayTotalHours>0">
                                <p><strong>Total Hours: {{fridayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedFriday.ProjectName" ng-required="displayFriDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="fridayStartTime" ng-model="recordedFriday.dayStartTime" ng-required="displayFriDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="fridayEndTime" ng-model="recordedFriday.dayEndTime" ng-required="displayFriDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.fridayStartTime.$invalid || timesheetForm.fridayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordFridayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displaySatDetails">
                        <p class="h4">Saturday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in saturdayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeSaturdayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="saturdayTotalHours>0">
                                <p><strong>Total Hours: {{saturdayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedSaturday.ProjectName" ng-required="displaySatDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="saturdayStartTime" ng-model="recordedSaturday.dayStartTime" ng-required="displaySatDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="saturdayEndTime" ng-model="recordedSaturday.dayEndTime" ng-required="displaySatDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.saturdayStartTime.$invalid || timesheetForm.saturdayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordSaturdayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="displaySunDetails">
                        <p class="h4">Sunday</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="md in sundayDetails">
                                    <p class="text-muted"><span class="glyphicon glyphicon-trash" ng-click="removeSundayDetails(md)"></span><em><small> Worked on {{md.ProjectName}} for {{md.dayEndTime - md.dayStartTime}} hours</small></em></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:20px">
                            <div class="col-xs-12" ng-show="sundayTotalHours>0">
                                <p><strong>Total Hours: {{sundayTotalHours}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Projects</label>
                                    <md-select ng-model="recordedSunday.ProjectName" ng-required="displaySunDetails">
                                        <md-option ng-repeat="p in projects" ng-value="p.Name">
                                            {{p.Name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>Start Time</label>
                                    <input type="number" name="sundayStartTime" ng-model="recordedSunday.dayStartTime" ng-required="displaySunDetails">
                                </md-input-container>
                            </div>
                            <div class="col-xs-4">
                                <md-input-container>
                                    <label>End Time</label>
                                    <input type="number" name="sundayEndTime" ng-model="recordedSunday.dayEndTime" ng-required="displaySunDetails">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" ng-disabled="timesheetForm.sundayStartTime.$invalid || timesheetForm.sundayEndTime.$invalid" class="btn btn-primary btn-sm" ng-click="recordSundayDetails()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
