<form ng-app="timeApp" name="searchTimesheetForm" ng-controller="searchTimesheetController" ng-submit="searchTimesheets()" ng-cloak>
    <h3>Seach Timesheets</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <md-input-container>
                    <label>Week Ending</label>
                    <input type="date" class="form-control" id="weekEndDate" aria-describedby="weekEndDateHelp" ng-model="weekEndDate" required>
                </md-input-container>
            </div>
            <div class="col=xs-6">
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
        <div class="row" ng-show="showdetails">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'engineerName'; sortReverse = !sortReverse">
                                Engineer Name
                                <span ng-show="sortType == 'engineerName'" class="fa fa-caret-down"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'weekEndDate'; sortReverse = !sortReverse">
                                Week Ending
                                <span ng-show="sortType == 'weekEndDate'" class="fa fa-caret-down"></span>
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in timesheets | orderBy:sortType:sortReverse" ng-click="showTimesheetDetails(t)">
                        <td>{{ t.engineerName }}</td>
                        <td>{{ t.weekEndDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
