<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://denisoneill.azurewebsites.net/">Home</a></li>
    <li class="breadcrumb-item active">Search Timesheets</li>
</ol>
<form ng-app="timeApp" name="searchTimesheetForm" ng-controller="searchTimesheetController" ng-submit="searchTimesheets()" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <md-input-container>
                    <label>Week Ending</label>
                    <input type="date" class="form-control" id="weekEndDate" aria-describedby="weekEndDateHelp" ng-model="weekEndDate" required>
                </md-input-container>
            </div>
            <div class="col=xs-6">
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
        <div class="row" ng-show="showdetails">
            <div class="col-xs-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortType = 'engineerName'; sortReverse = !sortReverse">
                                    Engineer Name
                                    <span ng-show="sortType == 'engineerName'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortType = 'weekEndDate'; sortReverse = !sortReverse">
                                    Week Ending
                                    <span ng-show="sortType == 'weekEndDate'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in timesheets | orderBy:sortType:sortReverse" ng-click="showTimesheetDetails(t)">
                            <td>{{ t.engineerName }}</td>
                            <td>{{ t.weekEndDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 panel panel-primary detailsbox" ng-show="showtsdetails">
                <div class="panel-heading">Details</div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="tsi in timesheetitems">{{tsi.Day + " Worked For " + tsi.ProjectName + " between " + tsi.dayStartTime + " and " + tsi.dayEndTime}}</a>
                        </div>
                        <!--<button class="btn btn-primary btn-sm" ng-click="displayExportDetails = !displayExportDetails">Export</button>
                        <pre ng-show="displayExportDetails"><code>{{exportDetails}}</code></pre>-->
                        @{
                            var url = Url.Action("CreateFile", "Home", new { exportDetails = "{{tsidentifier}}" });
                            url = HttpUtility.UrlDecode(url);
                        }
                        <a data-ng-href="@url">Export Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
