<!-- Login Modal -->
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)='navigateHome()' data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="brandNew" class="alert alert-success" role="alert">
          <strong>All set!</strong> Please login with your account
        </div>
        <form #f="ngForm" novalidate (ngSubmit)="login(f)">
          <div class="form-group">
            <input id="firstname" type="text" required name="firstname" [ngModel]="credentials.firstname" #email="ngModel" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group">
            <input id="surname" type="text" required name="surname" [ngModel]="credentials.surname" #email="ngModel" class="form-control" placeholder="Surname">
          </div>
          <div class="input-group mb-3">
            <input id="password" [type]="fieldTextType ? 'text' : 'password'" required name="password" validatePassword class="form-control" placeholder="Password" ngModel #password="ngModel">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="bi bi-eye-slash" (click)="toggleFieldTextType()"></i>
              </span>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || loginProgress">
              <span [class]="loginProgress ? 'spinner-grow spinner-grow-sm' : ''" role="status" aria-hidden="true"></span>
              Log in
            </button>
          </div>
          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
