<div class="container-fluid container-with-bg">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 mt-3">
        <div class="card-header">
          Holiday Requests For Approval
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Date Requested</th>
                  <th>From Date</th>
                  <th>Days</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of holidayRequests">
                  <td>{{ r.requestedDate | date:'fullDate'}}</td>
                  <td>{{ r.fromDate | date:'fullDate'}}</td>
                  <td>{{ r.days}}</td>
                  <td>{{ r.status}}</td>
                  <td><span aria-hidden="true" (click)="approveHolidayRequest(r)">Approve</span></td>
                  <td><span aria-hidden="true" (click)="rejectHolidayRequest(r)">Reject</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3 mt-3">
      <iframe src="https://calendar.google.com/calendar/embed?src=u85j2bejefap4r8dkqvo6k1npc%40group.calendar.google.com&ctz=Europe%2FDublin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>

