<div class="container-fluid">
  <div class="row">
    <div class="card mb-3">
      <div class="card-header">
        Holiday Requests For Approval
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class='table'>
            <thead class="thead">
              <tr>
                <th>Date Requested</th>
                <th>From Date</th>
                <th>Days</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of holidayRequests">
                <td>{{ r.requestedDate | date:'fullDate'}}</td>
                <td>{{ r.fromDate | date:'fullDate'}}</td>
                <td>{{ r.days}}</td>
                <td>{{ r.status}}</td>
                <td><span aria-hidden="true" (click)="approveHolidayRequest(r)">Approve</span></td>
                <td><span aria-hidden="true" (click)="rejectHolidayRequest(r)">Reject</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

