<div class="container-fluid">
  <div class="row">
    <div *ngIf="!loading" class="col-12"><p class="h6 text-primary text-center">{{getMonthToDisplay()}}</p></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="!loading" class="row justify-content-md-center">
        <div class="col"><p class="h6 text-muted text-center">M</p></div>
        <div class="col"><p class="h6 text-muted text-center">T</p></div>
        <div class="col"><p class="h6 text-muted text-center">W</p></div>
        <div class="col"><p class="h6 text-muted text-center">T</p></div>
        <div class="col"><p class="h6 text-muted text-center">F</p></div>
        <div class="col"><p class="h6 text-muted text-center">S</p></div>
      </div>
      <div *ngIf="!loading" class="row justify-content-md-center">
        <div class="col-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='mon'}" id="mon-tab" href="#mon" data-toggle="tab" role="tab" aria-controls="mon" aria-selected="false" (click)="mondaySelected()">{{getMondayDate()}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='tue'}" id="tue-tab" href="#tue" data-toggle="tab" role="tab" aria-controls="tue" aria-selected="false" (click)="tuesdaySelected()">{{getTuesdayDate()}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='wed'}" id="wed-tab" href="#wed" data-toggle="tab" role="tab" aria-controls="wed" aria-selected="false" (click)="wednesdaySelected()">{{getWednesdayDate()}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='thurs'}" id="thurs-tab" href="#thurs" data-toggle="tab" role="tab" aria-controls="thurs" aria-selected="false" (click)="thursdaySelected()">{{getThursdayDate()}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='fri'}" id="fri-tab" href="#fri" data-toggle="tab" role="tab" aria-controls="fri" aria-selected="false" (click)="fridaySelected()">{{getFridayDate()}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active':activeTab==='sat'}" id="sat-tab" href="#sat" data-toggle="tab" role="tab" aria-controls="sat" aria-selected="false" (click)="saturdaySelected()">{{getSaturdayDate()}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <span (click)="previousWeek()"><img src="assets/images/previous.png" class="img-responsive" alt="..."></span>
    </div>
    <div class="col-8 text-center">
      <button class="ml-2 btn btn-outline-success my-2 my-sm-0">Add</button>
    </div>
    <div class="col-2">
      <span class="ml-2" (click)="nextWeek()"><img src="assets/images/next.png" class="img-responsive" alt="..."></span>
    </div>
  </div>
  <div class="row" *ngFor="let entry of retrieveTimesheetsForDay()">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p><strong>{{ (entry.code.length>50)? (entry.code | slice:0:50)+'...':(entry.code) }}</strong></p>
          <p><small>From: {{entry.startTime}} to: {{entry.endTime}}</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>
</div>
