<div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3 mt-3 div-to-stand-out">
        <div *ngIf="selectedProject" class="card-header">Projects</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projectsForCurrentPage" [class.active]="project == selectedProject" data-toggle="tooltip" data-placement="right" (click)="graph.refreshGraphForProject(project)">
                  <td>{{ project.name }}</td>
                  <td>{{ project.code }}</td>
                  <td>{{ project.details }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <nav aria-label="Project Navigation">
        <ul class="pagination">
          <li [ngClass]="{'page-item': projectsCurrentPage > 1, 'page-item disabled': projectsCurrentPage == 1}">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo; Back</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li [ngClass]="{'page-item': projectsCurrentPage < determinePageCount(), 'page-item disabled': projectsCurrentPage >= determinePageCount()}">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">Next &raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8">
      <!-- Include Graph Component -->
      <project-graph #graph (eventPublisher)="setSelectedProject($event)"></project-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
