<div class="container-fluid">
  <p *ngIf="!projects"><em>Loading...</em></p>
  <div class="row" *ngIf="projects">
    <div class="table-responsive col-md-12">
      <table class='table table-hover'>
        <thead class="thead-light">
          <tr>
            <th>Client</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects" data-toggle="tooltip" data-placement="right" title="Click For Details">
            <td>{{ project.client }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.details }}</td>
            <td>{{ project.startDate | date : "fullDate"}}</td>
            <td *ngIf="project.id > 0"><span aria-hidden="true" (click)="deleteProject(project)">Delete</span></td>
            <td *ngIf="project.id > 0"><span aria-hidden="true" (click)="displaySelectedProject(project)">View Details</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="projects">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewProjectModal">
      Add New Project
    </button>
  </div>
</div>

<!-- Display Project Details Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Project Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="client">Client</label>
            <input type="text" [(ngModel)]="selectedProject.client" name="client" class="form-control" id="client">
          </div>
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" [(ngModel)]="selectedProject.name" name="projectName" class="form-control" id="projectName">
          </div>
          <div class="form-group">
            <label for="projectDetails">Details</label>
            <input type="text" [(ngModel)]="selectedProject.details" name="projectDetails" class="form-control" id="projectDescription">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="updateProject()" class="btn btn-primary">Update Project</button>
      </div>
    </div>
  </div>
</div>
  <!-- New Project Details Modal -->
<div class="modal fade" id="myNewProjectModal" tabindex="-1" role="dialog" aria-labelledby="myNewProjectModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myNewProjectModal">New Project</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="client">Client</label>
              <input type="text" [(ngModel)]="newProject.client" name="client" class="form-control" id="client" placeholder="Enter Client Name">
            </div>
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input type="text" [(ngModel)]="newProject.name" name="projectName" class="form-control" id="projectName" placeholder="Enter Project Name">
            </div>
            <div class="form-group">
              <label for="projectDetails">Details</label>
              <input type="text" [(ngModel)]="newProject.details" name="projectDetails" class="form-control" id="projectDescription" placeholder="Enter Project Description Here">
            </div>
            <div class="form-group">
              <label for="projectStartDate">StartDate</label>
              <input type="date" [(ngModel)]="newProject.startDate" name="projectStartDate" class="form-control" id="projectStartDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="saveProject()" class="btn btn-primary" [disabled]="newProject.details === '' || newProject.name === ''">Save Project</button>
        </div>
      </div>
    </div>
  </div>
