<div class="container-fluid">
  <p *ngIf="!projects"><em>Loading...</em></p>
  <div *ngIf="errors" class="alert alert-danger alert-dismissible">
    <strong>{{ errors }}</strong>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">Projects</div>
        <div class="card-body" *ngIf="projects">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Client</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Start Date</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects" data-toggle="tooltip" data-placement="right" title="Click For Details">
                  <td>{{ project.client }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.details }}</td>
                  <td>{{ project.startDate | date : "fullDate"}}</td>
                  <td *ngIf="project.id > 0"><span aria-hidden="true" (click)="deleteProject(project)">Delete</span></td>
                  <td *ngIf="project.id > 0"><span aria-hidden="true" (click)="displaySelectedProject(project)">View Details</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewProjectModal">Add Project</button>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="labourRates">
      <div class="card mb-3">
        <div class="card-header">Rates</div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter Rates
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a *ngFor="let u of retrieveRolesToDisplay(); let i = index" class="dropdown-item" (click)="displayRatesForSelectedRole(u)">{{u}}</a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'>
              <thead class="thead">
                <tr>
                  <th>Role</th>
                  <th>Effective From</th>
                  <th>Effective To</th>
                  <th>Rate</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of filteredRates">
                  <td>{{ r.role }}</td>
                  <td>{{ r.effectiveFrom | date : "fullDate"}}</td>
                  <td>{{ r.effectiveTo | date : "fullDate"}}</td>
                  <td>{{ r.ratePerHour}}</td>
                  <td *ngIf="r.id > 0"><span aria-hidden="true" (click)="deleteRate(r)">Delete</span></td>
                  <td *ngIf="r.id > 0"><span aria-hidden="true" (click)="displaySelectedRate(r)">View Details</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewRateModal">Add Rate</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Display Project Details Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Project Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="client">Client</label>
            <input type="text" [(ngModel)]="selectedProject.client" name="client" class="form-control" id="client">
          </div>
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" [(ngModel)]="selectedProject.name" name="projectName" class="form-control" id="projectName">
          </div>
          <div class="form-group">
            <label for="projectDetails">Details</label>
            <input type="text" [(ngModel)]="selectedProject.details" name="projectDetails" class="form-control" id="projectDescription">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="updateProject()" class="btn btn-primary">Update Project</button>
      </div>
    </div>
  </div>
</div>

<!-- Display Selected Rate Details -->
<div class="modal fade" id="myDisplayRateModal" tabindex="-1" role="dialog" aria-labelledby="myDisplayRateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myDisplayRateModal">Rate Details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="effectiveFrom">Effective From Date</label>
            <input type="datetime" [(ngModel)]="selectedRate.effectiveFrom" name="effectiveFrom" class="form-control" id="effectiveFrom">
          </div>
          <div class="form-group">
            <label for="effectiveTo">Effective To Date</label>
            <input type="datetime" [(ngModel)]="selectedRate.effectiveTo" name="effectiveTo" class="form-control" id="effectiveTo">
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" [(ngModel)]="selectedRate.ratePerHour" name="rate" class="form-control" id="rate">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="updateRate()" class="btn btn-primary">Update Rate</button>
      </div>
    </div>
  </div>
</div>

  <!-- New Project Details Modal -->
<div class="modal fade" id="myNewProjectModal" tabindex="-1" role="dialog" aria-labelledby="myNewProjectModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myNewProjectModal">New Project</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="client">Client</label>
              <input type="text" [(ngModel)]="newProject.client" name="client" class="form-control" id="client" placeholder="Enter Client Name">
            </div>
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input type="text" [(ngModel)]="newProject.name" name="projectName" class="form-control" id="projectName" placeholder="Enter Project Name">
            </div>
            <div class="form-group">
              <label for="projectDetails">Details</label>
              <input type="text" [(ngModel)]="newProject.details" name="projectDetails" class="form-control" id="projectDescription" placeholder="Enter Project Description Here">
            </div>
            <div class="form-group">
              <label for="projectStartDate">StartDate</label>
              <input type="date" [(ngModel)]="newProject.startDate" name="projectStartDate" class="form-control" id="projectStartDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="saveProject()" class="btn btn-primary" [disabled]="newProject.details === '' || newProject.name === ''">Save Project</button>
        </div>
      </div>
    </div>
  </div>

<!-- New Rate Details Modal-->
<div class="modal fade" id="myNewRateModal" tabindex="-1" role="dialog" aria-labelledby="myNewRateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewRateModal">New Rate</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control form-control-sm" id="role" name="role" [(ngModel)]="newRate.role">
              <option>Administrator</option>
              <option>Supervisor</option>
              <option>ChargeHand</option>
              <option>ElectR1</option>
              <option>ElectR2</option>
              <option>ElectR3</option>
              <option>Temp</option>
              <option>First Year Apprentice</option>
              <option>Second Year Apprentice</option>
              <option>Third Year Apprentice</option>
              <option>Fourth Year Apprentice</option>
            </select>
          </div>
          <div class="form-group">
            <label for="effectiveFrom">Effective From Date</label>
            <input type="date" [(ngModel)]="newRate.effectiveFrom" name="effectiveFrom" class="form-control" id="effectiveFrom">
          </div>
          <div class="form-group">
            <label for="effectiveTo">Effective To Date</label>
            <input type="date" [(ngModel)]="newRate.effectiveTo" name="effectiveTo" class="form-control" id="effectiveTo">
          </div>
          <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" [(ngModel)]="newRate.ratePerHour" name="rate" class="form-control" id="rate">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="saveRate()" class="btn btn-primary" [disabled]="newRate.role === ''">Save Rate</button>
      </div>
    </div>
  </div>
</div>
